################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChatSessionManager/FileContentIndex
/.vs/ChatSessionManager/v17
/.vs
/.idea/modules.xml
/.idea/vcs.xml
/.idea
